* {
    /* outline: 2px solid black; */
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    /* background-color: #dae7f7; */
    font-family: Georgia, serif;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    /* gap: 1em; */
}
/* nav bar  */
.nav {
    background-color: #6287bb;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.nav .nav-list, .img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.img-holder {
    flex-shrink: 1;
    gap: 1em;
}

.nav-list a, 
.list a {
    text-decoration: none;
    color: #f9faf7;
    padding: 10px 20px;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

/* list */
.header, 
.title-container{
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 25px;
}

.list-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1em;
    align-items: center;
}

.list a {
    color: black;
}
/* pages */
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}

.inner-container {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    gap: 2em;
}

.inner-container .img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

.desc-info, 
.ingre-info, 
.steps-info,
.additional-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.ingre-info li {
    margin-left: 30px;
    padding: 0;
}

.steps-info li, 
.additional-info li {
    margin-left: 30px;
}

.container h3 {
    font-size: 25px;
}