* {
    /* outline: 2px solid black; */
    /* box-sizing: inherit; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* box-sizing: border-box; */
    background-color: #fff;
    color: #000;
    font-family: Georgia, serif;
    font-size: 16px;
}

.container-nav {
    display: flex;
    color: #fff;
    border: 2px solid yellow;
    border-bottom: 2px solid lightgray;
    justify-content: space-between;
    gap: 2em;
}

.logo {
    border: 2px solid green;
    flex: initial;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 50%;
    height: 100%;
}

.nav-list {
    border: 2px solid red;
    display: flex;
    gap: 2em;
    flex: initial;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    list-style: none;
    color: black;

    flex: initial;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.icon-container {
    display: flex;
    border: 2px solid pink;
    gap: 3em;
    justify-content: center;
}

.icon-container .icon1 {
    border: 2px solid black
}

.icon-container .icon2 {
    border: 2px solid saddlebrown;
}