* {
    line-height: 1.5;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 100px;
    width: 700px;
    height: 500px;
    background-color: azure;
    background: center url(../img/vin-paper2.jpg);
}

.container {
    border: 5px;
    border-style: none;
    padding: 50px;

}

.container h1 {
    font-size: 30px;
    color: red;
    text-align: center;
    margin: 50px;
}

